<!-- _includes/header.html -->
<header class="page-header" role="banner">
  <h1 class="project-name">
    {% assign key = "title_" | append: page.lang %}
    {{ site[key] | default: site.title }}
  </h1>
  <h2 class="project-tagline">
    {% assign key2 = "description_" | append: page.lang %}
    {{ site[key2] | default: site.description }}
  </h2>

  {%- if site.github and site.github.is_project_page -%}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
  {%- endif -%}
</header>
